.btn {

  color: var(--cor-texto);
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #333;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.btn:hover {
  opacity: 0.95;
  box-shadow:
    0 0 5px #00e0ff,
    0 0 15px #00bfff,
    0 0 30px #0099ff,
    0 0 60px rgba(0, 150, 255, 0.8);
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.98);
}

.btn a {
  color: inherit;
  text-decoration: none;
}

.btn-blue,
.btn-green,
.btn-red,
.btn-yellow,
.btn-purple {
  background: transparent;
  color: var(--cor-texto);
  border-color: #333;
}

.btn-blue,
.btn-green,
.btn-red,
.btn-yellow,
.btn-purple {
  background: rgba(0, 30, 60, 0.6);
  border: 1px solid rgba(0, 150, 255, 0.4);
  backdrop-filter: blur(5px);
  transition: all 0.4s ease;
}

.btn-blue-PP {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  transition: all 0.4s ease;
  margin: 30px auto;
}